# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/anymatch
/node_modules/copy-concurrently
/node_modules/csso
/node_modules/fast-glob
/node_modules/fork-ts-checker-webpack-plugin-alt
/node_modules/http-proxy-middleware
/node_modules/move-concurrently
/node_modules/querystring
/node_modules/readdirp
/node_modules/sane
/node_modules/timers-browserify
/node_modules/webpack
.idea
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
